{% extends "base.html" %}

{% block main %}
												<div class="block_l"><div class="dtable">
				<!--анонс программ-->
				<div class="block2">
					<div class="filling">
						
			<div class="general_cont">
				<img src="/static/lovely_grandpeople_big.jpg" alt=" ">
				<dl>
	               <dt>Добро пожаловать на главную страницу ФГП "РосМосГосКосмос"</dt>
	               <dd>
			  Берущий свои корни из организаций древних печенегов и половцев в
средние века фонд ФГП "РосМосГосКосмос" осуществляет поддержку космонавтов
Ханты-Мансийского Автономного Округа и членов их семей. Наша миссия -
поддержать каждого космонавта, осуществившего трудовой подвиг!
	                  <div class="more">* При условии наличия достаточного стажа и оформленной заявки в Пенсионном фонде.</div>
	               </dd>
	            </dl>
			</div>					</div>
				</div>
				<!--/анонс программ-->
				<div class="block3">
					<div class="filling">					
				<!--новости-->
						<div class="news_list">
						  <h2 style="border: none">Услуги</h2>
                          <h3>Чтобы получить электронную услугу, воспользуйтесь одной из кнопок, расположенных ниже на экране</h3><br>
							<div class="general_cont">
		       <dl class="fl_l">
	             <dd><a href="/add-retiree">                     
                     <b>Оформление карточки пенсионера</b>
                     <p>В этом разделе Вы сможете воспользоваться программой составления электронных заявлений в целях оформления карточки пенсионера.</p>
                 </a></dd>
               </dl>
               
		       <dl class="fl_r">
	             <dd><a href="/add-paycheck">
                     <b>Получение выплат</b>
                     <p>В этом разделе Вы сможете получить пенсионные выплаты.</p>
                 </a></dd>
               </dl>
               </div><div class="general_cont">
		       <dl class="fl_l">
	             <dd><a href="/change-passcode">
                     <b>Безопасность</b>
                     <p>В этом разделе Вы сможете определить основные парамеетры, связанные с безопасностью доступа к услугам ФГП "РосМосГосКосмос"</p>
                 </a></dd>
               </dl>
               
		       <dl class="fl_r">
	             <dd><a href="/show-paychecks">
                     <b>Вывод средств</b>
                     <p>В этом разделе Вы сможете составить заявки на исполнение операций вывода средств из системы ФГП "РосМосГосКосмос" на экран авторизованного пользователя и осуществить необходимые для этого электронно-цифровые проверки согласно требованиям законодательства Российской Федерации и Правил пользования АИС "Пенсия-2".</p>
                 </a></dd>
               </dl>
               </div>
						</div>
				<!--/новости-->
					</div>
                	<div class="block3">
					  <div class="filling">					
				<!--новости-->
				<div class="news_list">
				  <h2 style="border: none">Прочие услуги</h2>
				  <div class="general_cont" style="margin-bottom: 10em">
                    <p>Перечень вторичных (побочных) услуг, предоставляемых ФГП "РосМосГосКосмос" на добровольном (не отражённом в целях структурной организации и Уставе организации) безвозмездном начале в режиме доступа "Сеть "Интернет".</p>
                    <ul>
			    <li><a href="/resolution">Получение разрешения (сведений о разрешении) гражданина — клиента ФГП "РосМосГосКосмос" в электронном виде</a></li>
                    </ul>
                  </div>
				</div>
              </div>
			</div>
{% endblock %}
