{% extends "base.html" %}

{% block main %}
<div class="block_l">
  <div class="filling">
    <h1>Получение разрешения (сведений о разрешении) гражданина — клиента ФГП "РосМосГосКосмос" в электронном виде</h1>
    <p>Информируем Вас о том, что использование разрешения (сведений о разрешении) необходимо и возможно только в целях, определенных Актом о Правилах пользования автоматизированной электронно-цифровой информационной системой (АИС) "Пенсия-2". Попытки использовать разрешение (сведения о разрешении) в иных целях могут привести к привлечению к ответственности - вплоть до уголовной.</p>
    <p>
      Ваше разрешение (выгрузка сведений из АИС "Пенсия-2" на <script>document.write(new Date().toLocaleString("ru-RU"))</script>):<br>
      <h3>
        <script>document.write(window.screen.availWidth)</script>
        x
        <script>document.write(window.screen.availHeight)</script>.
      </h3>      
    </p>
  </div>
</div>
{% endblock %}
