<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>ЦОД — центр обработки дольщиков</title>
        <style>
            body {
                background: white;
				color: black;
                padding: 2em;
                font-size: 18px;
                font-weight: 300;
                font-family: 'Droid Sans Mono', 'Lucida Console', 'Consolas', monospace;
            }
        </style>
    </head>
    <body>
		<h1>Центр обработки дольщиков — строительство юрт, долевое, участие в долевом строительстве юрт</h1>
		{% block body %}
		{% endblock %}

                <p style="color: grey">Рекомендуем наших партнёров — распределённый сервис хранения заметок. Всю необходимую информацию можно получить по телефону: 8-800-350-76-08</p>

		<div id="adhellBanner"></div>
		<script src="http://adhell.site/ad/renderProduction.js"></script>
    </body>
</html>

