{% extends 'base.html' %}

{% block body %}
{% if type == "reg-ok" %}
<p style="color:green; font-weight: bold">Регистрация ЗАВЕРШЕНА! Теперь вы можете входить в систему.</p>
{% else %}
<p style="color:red; font-weight: bold">Произошла ОШИБКА!
{% if type == "wrong-login" %}
    Введённые данные (имя пользователя, пароль) могут быть НЕВЕРНЫ!
{% elif type == "unauth" %}
    Для просмотра данной страницы необходима АВТОРИЗАЦИЯ!
{% elif type == "urt-not-found" %}
    Юрта с указанным идентификатором НЕ НАЙДЕНА!
{% elif type == "many-urts" %}
    За данный промежуток времени создано СЛИШКОМ МНОГО долевого строительства юрт!
{% elif type == "many-participations" %}
    Вы участвуете уже в СЛИШКОМ БОЛЬШОМ КОЛИЧЕСТВЕ единиц долевого строительства юрт! Один пользователь может участвовать ТОЛЬКО В ТРЁХ долево строящихся юртах.
{% elif type == "wrong-user" %}
    Вы НЕ ИМЕЕТЕ ПРАВА на просмотр данной страницы!
{% else %}
    Тип ошибки НЕИЗВЕСТЕН! Сломалось ВООБЩЕ ВСЁ!
{% endif %}
</p>
<p>Несмотря на эту мелкую неувязку, надеемся на дальнейшее плодотворное сотрудничество в нашем общем деле.</p>
{% endif %}
<p><a href="/">Главная страница</a></p>
{% endblock %}
